@model Lib.Models.Book

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Kitap Ekle</h2>
            <hr/>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Name" class="p-0"></label>
            <input asp-for ="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Author" class="p-0"></label>
            <input asp-for="Author" class="form-control" />
            <span asp-validation-for="Author" class="text-danger"></span>

        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Image" class="p-0"></label>
            <input asp-for="Image" class="form-control" />
            <span asp-validation-for="Image" class="text-danger"></span>

        </div>
        <div class="mb-3 row p-1">
            <label asp-for="IsAvailable" class="p-0"></label>
            <input asp-for="IsAvailable" class="form-control" />
            <span asp-validation-for="IsAvailable" class="text-danger"></span>

        </div>
        <div class="row">
            <div class="col-6">
                <button type="submit" class="btn btn-outline-primary form-control">Ekle</button>
            </div>
            <div class="col-6">
                <a asp-controller="Book" asp-action="Index" class="btn btn-outline-secondary form-control">
                    Kitap Listesine Geri Dön
                </a>
            </div>
        </div>
    </div>
</form>